
		.phpcoding{
			width: 900px;
			margin: 0 auto;
			background: #ddd;
			min-height: 400px;
		}
		.header, .footer {
			background: #444;
			color: #fff;
			text-align: center;
		}
		.header h2, .footer h2 {
			margin: 0px;
		}
		.mainContent{
			min-height: 400px;
			padding: 20px;
		}
		
		.tblone{
			width: 100%;
		}
	